<!-- Load the tag library -->
{% load bootstrap3 %}
{% load static %}

<!-- Load CSS and JavaScript -->
{% bootstrap_css %}
{% bootstrap_javascript %}

<!-- CONTENT -->
<div class="row">
    <div class=col-md-2></div>
    <div class=col-md-8>
        
        <div class="panel panel-primary">
            <div class="panel-heading">Choisissez un Dépot</div>
            <div class="panel-body">
                
                <!--WARNING/ERROR MESSAGE-->
                {% if error != "" %}
                    <div class="alert alert-danger">
                        <span class="glyphicon glyphicon-fire"></span>&emsp;{{ error }}
                    </div>
                {% endif %}
                        
                <!-- DEFAULT REPO -->
                <form action="" method="POST"> 
                    {% csrf_token %}
                    <div class="panel panel-primary">
                        <div class="panel-heading"><span class="glyphicon glyphicon-home"></span> Dépot par Défaut</div>
                        <div class="panel-body">
                            {% for repo in default %}
                                <button type="submit" class="btn btn-primary btn-block" name="repo_name" value="{{ repo.name }}" style="text-align: left"/>
                                        <span class="glyphicon glyphicon-arrow-right"></span><b>&emsp;{{ repo.name }} - {{ repo.url }}
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                </form>
                
                <!-- REPO FROM URL -->
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="panel panel-primary">
                        <div class="panel-heading"><span class="glyphicon glyphicon-download-alt"></span> Dépot par Adresse</div>
                        <div class="panel-body">
                            
                            <div class=row>
                                <div class="col-sm-2">
                                    <center>
                                        <button class="btn btn-info" type="submit">
                                            <span class="glyphicon glyphicon-download"></span>&emsp;Ajouter&emsp;
                                        </button>
                                    </center>
                                </div>
                                <div class="col-sm-3">
                                    {% if error_name %}
                                        <div class="input-group has-error has-feedback">
                                            <span class="input-group-addon">NAME:</span>
                                            <input id="msg" type="text" class="form-control" id="inputError2" name="repo_name" placeholder="repository" required>
                                        </div>
                                    {% else %}
                                        <div class="input-group">
                                            <span class="input-group-addon">NAME:</span>
                                            <input id="msg" type="text" class="form-control" name="repo_name" placeholder="repository" required>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-sm-7">
                                    {% if error_url %}
                                        <div class="input-group has-error has-feedback">
                                            <span class="input-group-addon">URL:</span>
                                            <input id="msg" type="text" class="form-control" id="inputError2" name="repo_url" placeholder="https://githost.com/repository.git" required>
                                        </div>
                                    {% else %}
                                        <div class="input-group">
                                            <span class="input-group-addon">URL:</span>
                                            <input id="msg" type="text" class="form-control" name="repo_url" placeholder="https://githost.com/repository.git" required>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
<!--
                                <div class="input-group has-error has-feedback">
                                    <span class="input-group-addon">URL:</span>
                                    <input type="text" class="form-control" id="inputError2" name="repo_url" placeholder="https://githost.com/repository.git">
                                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                </div>
-->
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    <div class=col-md-2></div>
</div>
