
<!-- Need bootstrap3, bootstrap_css and bootstrap_javascript to be loaded -->

{% load markdown_deux_tags %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="col-md-4 text-left">{{ pltp_name }}</div>
        <div class="col-md-4 text-center"><h3>{% if 'title' in info %}  {{ info.title|markdown }} {% endif %}</h3></div>
        <div class="col-md-4 text-right">{% if 'author' in info %} {{ info.author }} {% endif %}</div>
        <br>
        <br>
        <br>
    </div>
    
    <div class="panel-body">
        {% for key, value in info.items %}
            {% if "introduction" in key %}
                {% for line in value %}
                    {{line|markdown}}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
